body{
    background-image:url(bgforprojsmall.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    overflow-y: scroll;
    scrollbar-width: thin;

}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 19ch;
    font-weight: var(--base-text-weight-bold);
    font-size: var(--h1-size, 32px);
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}
.navbar img {
    height: 40px;
    margin-right: 20px;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    color: #040404;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
   
    z-index: 1;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #555;
}
.search-container {
    margin-left: auto;
}
.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.search-container button:hover {
    background: #ccc;
}
.herovideo{
    margin-top: 200px;
    display:flex;
    justify-content:center;
}
footer {
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.logosplay{
    height: 200px;
    width: 700px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    animation: slide 30s linear infinite;
   
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


